<body>
  <div class="header">
    <h1>  Welcome to our Website </h1>
  
  </div>
      
  
  
  
  
  
  
  
  
  
  
      <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="#">
                  <img class="card-img-top" src="/images/Pictures/kids/1.webp" alt="Kids Collection ">
                  <div class="card-body">
                    <p class="card-text">Kids Collection</p>
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="btn-group">
                        <a href="kids" class="btn btn-sm btn-outline-secondary">Shop Now</a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="#">
                  <img class="card-img-top" src="/images/Pictures/men/1.webp" alt="Mens Collection">
                  <div class="card-body">
                    <p class="card-text">Mens Collection</p>
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="btn-group">
                        <a href="mens" class="btn btn-sm btn-outline-secondary">Shop Now</a>


                        <a href="checkFOrm" class="btn btn-sm btn-outline-secondary">
                         <button>Add Collection</button> </a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="#">
                  <img class="card-img-top" src="images/Pictures/women/1.jpg" alt="women ">
                  <div class="card-body">
                    <p class="card-text"> Women</p>
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="btn-group">
                        <a href="womens" class="btn btn-sm btn-outline-secondary">Shop Now</a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
  </body>